/* start custom scss snippet */


@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans');

body {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}

body,
.gist .gist-file {
  margin-bottom: 0;
  border: 1px dashed #adb5bd;
  border-radius: 0;
}

.gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #525252;
}

.gist .blob-wrapper {
  border-radius: 0;
}

.gist .highlight {
  background-color: transparent;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 14px;
}

.gist .highlight td {
  padding: 5px 15px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}

.gist tr:first-child td {
  padding-top: 15px !important;
}

.gist tr:last-child td {
  padding-bottom: 15px !important;
}

.gist .blob-num {
  color: #ced4da;
  background-color: #495057;
  pointer-events: none;
}

.gist .gist-meta {
  display: none;
}


/* end custom scss snippet */
