/* start custom scss snippet */


@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 20px;
}


body .gist .blob-num {
    pointer-events: none;
    border: 0;
}

body .gist .blob-num {
    background-color: #2D2D2D;

  }

  body .gist .gist-data {

    background-color: #2D2D2D;
  }
  
/* end custom scss snippet */
